/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [emp_id]
      ,[emp_name]
      ,[dob]
      ,[dept]
      ,[salary]
      ,[city]
      ,[pin]
	FROM [college].[dbo].[task]  
	 